{{ define "style" }}
<link rel="icon" href="/static/favicon.ico" sizes="any">

<style>
  :root, [data-theme="light"] {
    --color-bg: #F0F1F3;
    --color-fg: #23262C;
    --color-fg-reverse: #ffffff;
    --color-main: #029AE8;
    --color-subtitle: #989898;
    --color-section-bg: #eaeaea;

    --color-white: #ffffff;
    --color-gray: #bebebe;
    --color-green: #47A417;
    --color-orange: #E8AE01;
    --color-red: #EE402E;
  }
  [data-theme="dark"] {
    --color-bg: #23262C;
    --color-fg: #cecece;
    --color-fg-reverse: #16171c;
    --color-subtitle: #868686;
    --color-section-bg: #2c2c2c;

    --color-gray: #606060;
    --color-green: #47A417;
    --color-orange: #c59a0e;
    --color-red: #b2382d;
  }

  html {
    width: 100%;
    height: 100%;
    color-scheme: light dark;
    background-color: var(--color-bg);
    color: var(--color-fg);
    font-family: system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, Arial, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 18px;
    font-weight: 400;
  }
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    background: var(--color-gray);
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 20px;
    flex: 1;
    margin: 20px auto !important;

    .panel {
      width: calc(100% - 42px);
      display: flex;
      flex-direction: column;
      padding: 12px 20px;
      gap: 10px;
      border-bottom: solid var(--color-section-bg) 1px;
      &:last-child {
        border-bottom: none;
      }

      h1 {
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        color: var(--color-fg);
        margin: 0;
        padding: 0;
      }
    }

    .container, &.container {
      gap: 6px;
    }

    section {
      width: calc(100% - 2px);
      background: var(--color-fg-reverse);
      border: solid var(--color-section-bg) 1px;
      padding: 0;
      flex-direction: column;

      .head {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        label {
          display: flex;
          flex-direction: row;
          gap: 4px;
          cursor: pointer;
          font-size: 14px;
          font-weight: 500;

          input {
            display: none;

            &:checked {
              ~ .icon-down {
                display: none;
              }
            }
            &:not(:checked) {
              ~ .icon-up {
                display: none;
              }
            }
          }
        }

        .info {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 4px;
          p, a {
            font-size: 14px;
            font-weight: 600;
            &:nth-child(2) {
              font-size: 13px;
              font-weight: 300;
              text-transform: none;
              color: var(--color-subtitle);
            }
          }
          span {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 13px;
            font-weight: 300;
            color: var(--color-subtitle);
            gap: 3px;
          }
        }
        .tags {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          flex-direction: row;
          gap: 3px;
          li {
            font-size: 10px;
            color: var(--color-bg);
            padding: 2px 4px;
            border-radius: 7px;
            cursor: default;
          }
        }

        p.status {
          font-size: 13px;
          text-transform: capitalize;
          flex-shrink: 0;
        }
        p.status-unknown {
          color: var(--color-gray);
          background: transparent;
        }
        p.status-up {
          color: var(--color-green);
          background: transparent;
        }
        p.status-degraded {
          color: var(--color-orange);
          background: transparent;
        }
        p.status-down {
          color: var(--color-red);
          background: transparent;
        }
      }
      .chart {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        ul {
          width: 100%;
          height: 32px;
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          gap: 3px;
          flex-direction: row;
          li {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            transition: background-color 100ms;
            position: relative;
            display: inline-block;

            span {
              width: 160px;
              padding: 12px 10px;
              position: absolute;
              z-index: 1;
              top: 120%;
              left: 50%;
              margin-left: -90px;
              margin-top: 5px;
              display: none;
              background-color: var(--color-bg);
              color: var(--color-fg);
              font-size: 13px;
              border-radius: 6px;
              -webkit-box-shadow: 0 0 4px -2px rgba(66, 68, 90, 1);
              -moz-box-shadow: 0 0 4px -2px rgba(66, 68, 90, 1);
              box-shadow: 0 0 4px -2px rgba(66, 68, 90, 1);
            }
            span::after {
              content: "";
              position: absolute;
              bottom: 100%;
              left: 50%;
              margin-left: -10px;
              border-width: 10px;
              border-style: solid;
              border-color: transparent transparent var(--color-bg) transparent;
            }

            &:hover {
              background: var(--color-main) !important;
              transition: background-color 100ms;
              span {
                display: block;
              }
            }

            @media only screen and (max-width: 600px) {
              &:nth-child(-n+60) {
                display: none;
              }
            }
            @media only screen and (max-width: 800px) {
              &:nth-child(-n+30) {
                display: none;
              }
            }
          }
        }
        .legend {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
          p, span {
            font-size: 12px;
            color: var(--color-subtitle);
            font-weight: 300;
          }
          .spacer {
            flex: 1;
            width: auto;
            height: 1px;
            background: var(--color-gray);
          }
        }
      }
      .services {
        width: 100%;
        display: none;
        flex-direction: column;

        .panel {
          width: calc(100% - 22px);
          padding: 10px;
          border: solid var(--color-section-bg) 1px;
          border-bottom: none;
          &:last-child {
            border-bottom: solid var(--color-section-bg) 1px;
          }
          .chart ul {
            height: 22px;
          }
        }
      }
      .blocks {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;

        .block {
          padding: 14px 0;
          text-align: center;
          img {
            max-width: 100%;
            max-height: 100%;
          }
          p:first-child {
            font-size: 22px;
            font-weight: 700;
          }
          p:last-child {
            font-size: 12px;
            color: var(--color-subtitle);
          }
        }
      }
      .event {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;

        .details {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
          gap: 10px;

          .icon {
            width: 26px;
            height: 26px;
            border-radius: 26px;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
              width: 15px;
              height: 15px;
              color: var(--color-bg);
            }
          }
          p {
            font-size: 16px;
            font-weight: 600;
          }
        }
        .ts {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
          gap: 4px;
          p {
            font-size: 13px;
            color: var(--color-subtitle);
          }
        }
      }

      .head:has(input:checked) ~ .services {
        display: flex;
      }
    }
  }
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      svg {
        fill: var(--color-fg);
      }
    }

    button {
      border: none;
      background: none;
      cursor: pointer;
      color: var(--color-fg);
    }
    #dark-mode, #light-mode {
      display: none;
    }
  }

  section {
    width: 100%;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a {
    color: var(--color-main);
  }
  p {
    margin: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .container {
    width: 100%;
    margin: auto;
    padding: 20px 0;

    > .legend {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: end;
      align-items: center;
      font-size: 13px;
      color: var(--color-subtitle);

      @media only screen and (max-width: 600px) {
        width: calc(100% - 20px);
        padding: 0 10px;
      }
    }
  }
  .status-unknown {
    background: var(--color-gray);
    svg.icon-question {
      display: block !important;
    }
  }
  .status-up {
    background: var(--color-green);
    svg.icon-check {
      display: block !important;
    }
  }
  .status-degraded {
    background: var(--color-orange);
    svg.icon-bug {
      display: block !important;
    }
  }
  .status-down {
    background: var(--color-red);
    svg.icon-cross {
      display: block !important;
    }
  }

  @media only screen and (min-width: 600px) {
    body {
      height: calc(100% - 40px);
      margin: 40px 0 0 0;
    }
    .container {
      width: 96%;
    }
    header, section {
      border-radius: 3px;
    }
    footer > section {
      padding: 0;
    }
  }
  @media only screen and (min-width: 800px) {
    .container {
      width: 90%;
    }
  }
  @media only screen and (min-width: 1000px) {
    .container {
      width: 920px;
    }
  }

  @media only screen and (min-width: 601px) {
    .bp600 {
      display: none;
    }
  }
  @media only screen and (max-width: 600px), only screen and (min-width: 801px) {
    .bp800 {
      display: none;
    }
  }
  @media only screen and (max-width: 800px) {
    .bp1000 {
      display: none;
    }
  }
</style>

{{ end }}