<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
  <meta charset="UTF-8">
  <meta name="color-scheme" content="light dark">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="JAM is a simple and lightweight status page for monitoring your services and systems.">

  <title>Page not found</title>

  {{ template "style" . }}

  <style>
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .panel {
      margin-top: -10%;
    }
  </style>
</head>
<body>

<main class="container">
  <section class="panel">
    Page you are looking for is not found. <a href="/"><small>Go back to home</small></a>
  </section>
</main>

{{ template "footer" . }}

</body>
</html>