<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
  <meta charset="UTF-8">
  <meta name="color-scheme" content="light dark">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="JAM is a simple and lightweight status page for monitoring your services and systems.">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="Status page">

  <title>{{ if .Data.IsHost }} {{ $el := (index .Data.Hosts 0) }} {{ if $el.Name }}{{ $el.Name }}{{ else }}{{ $el.Host }}{{ end }} -{{ else }}{{ if .Settings.Title }}{{ .Settings.Title }}- {{ end }}{{ end }} Status page</title>

  {{ template "style" . }}
</head>
<body>
{{ $root := . }}

<header class="container status-{{ .Data.Status }}">
  <section>
    {{ if eq .Data.Status "up" }}
    {{ if .Data.IsHost }}
    Host is operational
    {{ else }}
    All hosts operational
    {{ end }}
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10"/></svg>
    {{ else if eq .Data.Status "down" }}
    {{ if .Data.IsHost }}
    Host is down
    {{ else }}
    All hosts are down
    {{ end }}
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12"/><path d="M6 6l12 12"/></svg>
    {{ else if eq .Data.Status "degraded" }}
    Some hosts are experiencing issues
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 9v-1a3 3 0 0 1 6 0v1"/><path d="M8 9h8a6 6 0 0 1 1 3v3a5 5 0 0 1 -10 0v-3a6 6 0 0 1 1 -3"/><path d="M3 13l4 0"/><path d="M17 13l4 0"/><path d="M12 20l0 -6"/><path d="M4 19l3.35 -2"/><path d="M20 19l-3.35 -2"/><path d="M4 7l3.75 2.4"/><path d="M20 7l-3.75 2.4"/></svg>
    {{ else }}
    Unknown status
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 8a3.5 3 0 0 1 3.5 -3h1a3.5 3 0 0 1 3.5 3a3 3 0 0 1 -2 3a3 4 0 0 0 -2 4" /><path d="M12 19l0 .01"/></svg>
    {{end}}
  </section>
</header>

<main class="container">
  <div class="legend">
    {{ if .Data.IsHost }}
    Uptime over the past&nbsp;
    <span class="bp1000">{{ (index (index .Data.Hosts 0).Chart.Intervals 0) }}</span>
    <span class="bp800">{{ (index (index .Data.Hosts 0).Chart.Intervals 1) }}</span>
    <span class="bp600">{{ (index (index .Data.Hosts 0).Chart.Intervals 2) }}</span>
    .&nbsp;
    <a href="/">Back to list</a>
    {{ else }}
    Uptime over the past&nbsp;<span class="bp600">30</span><span class="bp800">60</span><span class="bp1000">90</span>&nbsp;days.
    {{ end }}
  </div>

  <section>
    {{ if .Data.Hosts }}
    {{ range $row := .Data.Hosts }}
    <div class="panel">
      <div class="head">
        {{ if .Host }}
        <div class="info">
          {{ if $root.Data.IsHost }}
          {{ if .Name }}<p>{{ .Name }}</p>{{ else }}<p>{{ .Host }}</p>{{ end }}
          {{ else }}
          <a href="{{ .ID }}">{{ if .Name }}{{ .Name }}{{ else }}{{ .Host }}{{ end }}</a>
          {{ end }}
          {{ if .Name }}{{ if not $root.Settings.HideURL }}<p>| {{ .Host }}</p>{{ end }}{{ end }}
          {{ if .Description }}
          <span data-tooltip="{{ .Description }}">
            | <svg xmlns="http://www.w3.org/2000/svg" style="margin-top: 1px;" width="13" height="13" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 9h.01"/><path d="M11 12h1v4h1"/><path d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z"/></svg>
          </span>
          {{ end }}
        </div>
        {{ else }}
        <label {{ if .Hosts }}{{ else }}style="cursor: default;"{{ end }}>
          {{ if .Hosts }}
          <input type="checkbox">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor" class="icon-down"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 9c.852 0 1.297 .986 .783 1.623l-.076 .084l-6 6a1 1 0 0 1 -1.32 .083l-.094 -.083l-6 -6l-.083 -.094l-.054 -.077l-.054 -.096l-.017 -.036l-.027 -.067l-.032 -.108l-.01 -.053l-.01 -.06l-.004 -.057v-.118l.005 -.058l.009 -.06l.01 -.052l.032 -.108l.027 -.067l.07 -.132l.065 -.09l.073 -.081l.094 -.083l.077 -.054l.096 -.054l.036 -.017l.067 -.027l.108 -.032l.053 -.01l.06 -.01l.057 -.004l12.059 -.002z"/></svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor" class="icon-up"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M11.293 7.293a1 1 0 0 1 1.32 -.083l.094 .083l6 6l.083 .094l.054 .077l.054 .096l.017 .036l.027 .067l.032 .108l.01 .053l.01 .06l.004 .057l.002 .059l-.002 .059l-.005 .058l-.009 .06l-.01 .052l-.032 .108l-.027 .067l-.07 .132l-.065 .09l-.073 .081l-.094 .083l-.077 .054l-.096 .054l-.036 .017l-.067 .027l-.108 .032l-.053 .01l-.06 .01l-.057 .004l-.059 .002h-12c-.852 0 -1.297 -.986 -.783 -1.623l.076 -.084l6 -6z"/></svg>
          {{ end }}
          {{ .Name }}
        </label>
        {{ end }}
        <p class="status status-{{ .Status }}">{{ .Status }}</p>
      </div>

      <div class="chart">
        <ul>
          {{ range $value := .Chart.Points }}
          <li class="status-{{ .Status }}" title="{{ .Timestamp }}"></li>
          {{ end }}
        </ul>
        <div class="legend">
          <p>
            <span class="bp1000">{{ (index .Chart.Intervals 0) }}</span>
            <span class="bp800">{{ (index .Chart.Intervals 1) }}</span>
            <span class="bp600">{{ (index .Chart.Intervals 2) }}</span>
            ago
          </p>
          <div class="spacer"></div>
          {{ if $root.Data.IsHost }}
          <span data-tooltip="Average response time for selected time range">~{{ .ResponseTime }}</span>
          {{ else }}
          <p>{{ .Uptime }}% uptime</p>
          {{ end }}
          <div class="spacer"></div>
          <p>{{ if $root.Data.IsHost }}Now{{ else }}Today{{ end }}</p>
        </div>
      </div>

      {{ if .Hosts }}
      <div class="services">
        {{ range $val := .Hosts }}
        <div class="panel">
          <div class="head">
            <div class="info">
              <a href="{{ .ID }}">{{ if .Name }}{{ .Name }}{{ else }}{{ .Host }}{{ end }}</a>
              {{ if .Name }}{{ if not $root.Settings.HideURL }}<p>| {{ .Host }}</p>{{ end }}{{ end }}
            </div>
            <p class="status status-{{ .Status }}">{{ .Status }}</p>
          </div>
          <div class="chart">
            <ul>
              {{ range $value := .Chart.Points }}
              <li class="status-{{ .Status }}" title="{{ .Timestamp }}"></li>
              {{ end }}
            </ul>
            <div class="legend">
              <p>
                <span class="bp1000">{{ (index .Chart.Intervals 0) }}</span>
                <span class="bp800">{{ (index .Chart.Intervals 1) }}</span>
                <span class="bp600">{{ (index .Chart.Intervals 2) }}</span>
                ago
              </p>
              <div class="spacer"></div>
              <p>{{ .Uptime }}% uptime</p>
              <div class="spacer"></div>
              <p>Today</p>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
      {{ end }}
    </div>
    {{ end }}
    {{ else }}
    <div class="panel"><h1>No hosts found</h1></div>
    {{ end }}
  </section>

  {{ if .Data.IsHost }}
  <section class="details">
    <div class="panel">
      <div class="head"><div class="info"><p>Last 30 days</p></div></div>
      <div class="time">
        <h2>{{ (index .Data.Hosts 0).Details.Uptime }}%</h2>
        <h2>{{ (index .Data.Hosts 0).Details.ResponseTime }}</h2>
      </div>
      <div class="time">
        <h3>Uptime</h3>
        <h3>Response time</h3>
      </div>
    </div>
    {{ if (index .Data.Hosts 0).Details.SSL }}
    <div class="panel">
      <div class="head"><div class="info"><p>SSL certificate expire in</p></div></div>
      <h2>{{ (index .Data.Hosts 0).Details.SSL.ExpireInDays }} days</h2>
      <h3>{{ (index .Data.Hosts 0).Details.SSL.ExpireTS }}</h3>
    </div>
    {{ end }}
    <div class="panel">
      <div class="head"><div class="info"><p>Last outage was</p></div></div>
      {{ if (index .Data.Hosts 0).Details.LastOutage }}
      <h2>{{ (index .Data.Hosts 0).Details.LastOutage.Since }} ago</h2>
      <h3>for {{ (index .Data.Hosts 0).Details.LastOutage.Duration }} | {{ (index .Data.Hosts 0).Details.LastOutage.TS }}</h3>
      {{ else }}
      <h2>Never</h2>
      {{ end }}
    </div>
  </section>
  <section>
    <div class="panel">
      <div class="head"><div class="info"><p>Average response time</p></div></div>
      <div class="block"><img src="/response-time/{{ (index .Data.Hosts 0).ID }}"></div>
    </div>
  </section>
  {{ end }}

  {{ if .Data.Incidents }}
  <br>
  <div class="legend">Incident history</div>
  <section>
    {{ range $val := .Data.Incidents }}
    <div class="panel incident">
      <div class="head">
        <div class="info">
          {{ if eq .End "" }}
          <div class="icon status-down"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12"/><path d="M6 6l12 12"/></svg></div>
          {{ else }}
          <div class="icon status-degraded"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 9v-1a3 3 0 0 1 6 0v1"/><path d="M8 9h8a6 6 0 0 1 1 3v3a5 5 0 0 1 -10 0v-3a6 6 0 0 1 1 -3"/><path d="M3 13l4 0"/><path d="M17 13l4 0"/><path d="M12 20l0 -6"/><path d="M4 19l3.35 -2"/><path d="M20 19l-3.35 -2"/><path d="M4 7l3.75 2.4"/><path d="M20 7l-3.75 2.4"/></svg></div>
          {{ end }}
          <div class="value">
            <h3>{{ .Text }}</h3>
            {{ if and .Details (ne .Details.StatusCode 0) }}
            <h4>{{ .Details.StatusText }} ({{ .Details.StatusCode }}){{ if .Details.Response }}: {{ .Details.Response }}{{ end }}</h4>
            {{ end }}
          </div>
        </div>
        <p class="ts">{{ .Start }}{{ if ne .End "" }} - {{ .End }}{{ end }}</p>
      </div>
    </div>
    {{ end }}
  </section>
  {{ end }}
</main>

{{ template "footer" . }}

</body>
</html>