@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";
@import "uikit/src/scss/uikit-theme.scss";

$default-spacing: 2px;

:root {
  --background-color: #eff0f1;
  --text-color: #666666;

  --default-color: #ffffff;
  --muted-color: #dadbde;

  --primary-color: #0a8bf1;
  --secondary-color: #fff;

  --hover-color: rgba(245, 245, 245, 0.4);

  --up-color: #00c853;
  --down-color: #f85c5c;
  --unknown-color: #666666;
}

body.dark {
  --background-color: #282828;
  --text-color: #cbcbcb;

  --default-color: #101010;
  --muted-color: #1a1a1a;

  --hover-color: rgba(51, 51, 51, 0.25);
}

:root {
  color-scheme: light dark;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: ProximaNova, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-overflow-scrolling: touch !important;
  -webkit-text-size-adjust: none !important;
  overflow-x: auto !important;
  overflow-y: auto !important;
  background-color: var(--background-color);
  color: var(--text-color);
}
#app {
  width: 100%;
  height: 100%;
}
main {
  flex: 1;
}

footer > a {
  color: #5e5e5e;
  text-decoration: none;
  font-weight: 600;
  font-size: 13px;
}

.pointer { cursor: pointer; }

.w { width: 100%; }
.h { height: 100%; }

.row { display: flex; flex-direction: row; }
.column { display: flex;flex-direction: column; }
.middle { align-items: center; }
.center { justify-content: center; }
.between { justify-content: space-between; }
.around { justify-content: space-around; }
.left { justify-content: flex-start; }
.right { justify-content: flex-end; }
.wrap { flex-wrap: wrap; }
.nowrap { flex-wrap: nowrap; }

@for $i from 0 through 16 {
  .p-#{$i}  { padding: calc($default-spacing * $i); }
  .pv-#{$i} { padding-top: calc($default-spacing * $i); padding-bottom: calc($default-spacing * $i); }
  .ph-#{$i} { padding-left: calc($default-spacing * $i); padding-right: calc($default-spacing * $i); }
  .pt-#{$i} { padding-top: calc($default-spacing * $i); }
  .pr-#{$i} { padding-right: calc($default-spacing * $i); }
  .pb-#{$i} { padding-bottom: calc($default-spacing * $i); }
  .pl-#{$i} { padding-left: calc($default-spacing * $i); }

  .m-#{$i}  { margin: calc($default-spacing * $i); }
  .mv-#{$i} { margin-top: calc($default-spacing * $i); margin-bottom: calc($default-spacing * $i); }
  .mh-#{$i} { margin-left: calc($default-spacing* $i); margin-right: calc($default-spacing * $i); }
  .mt-#{$i} { margin-top: calc($default-spacing * $i); }
  .mr-#{$i} { margin-right: calc($default-spacing * $i); }
  .mb-#{$i} { margin-bottom: calc($default-spacing * $i); }
  .ml-#{$i} { margin-left: calc($default-spacing * $i); }

  .basis-#{$i} { flex-basis: calc($i / 16 * 100%); }
}

.p-small { @extend .p-8; }
.p-medium { @extend .p-9; }
.p-large { @extend .p-16; }

.border-rounded { border-radius: 5px; }

.shadow-small { box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05); }
.shadow-normal { box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px -1px rgba(0,0,0,0.1); }
.shadow-medium { box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -4px rgba(0,0,0,0.1); }
.shadow-large { box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1), 0 8px 10px -6px rgba(0,0,0,0.1); }
.shadow-xlarge { box-shadow: 0 25px 50px -12px rgba(0,0,0,0.25); }